<div class="filter mb-4">
  <div class="h6">Keresés az adott oszlopban</div>
    <div class="col-12 select_container input-group">
        <select class="form-control" [(ngModel)]="filterKey">
        <option *ngFor="let col of tableColumns" [value]="col.key">{{ col.title | titlecase}}</option>
      </select>
    </div>

    <div class="mb-3 input_container">
      <input (keyup)="searchEvent($event)" class="search-input form-control mr-sm-2" type="text"
          placeholder="Gépelje be a keresendőt...">
    </div>
  </div>
<div class="h6">Rendezés oszlop szerint</div>


<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th *ngFor="let col of tableColumns" scope="col" class="table__title">
          {{ col.title }}
          <i-feather *ngIf="columnKey !== col.key" (click)="onColumnSelect(col.key)" name="minus"></i-feather>
          <i-feather *ngIf="columnKey === col.key" (click)="onColumnSelect(col.key)" [name]="sortingMark"></i-feather>
        </th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let row of list | filter:filterKey:phrase | sorter:columnKey:sortDirection | slice:startSlice:endSlice">
        <td *ngFor="let column of tableColumns">
          {{ row[column.key] | xpipe:column.pipes:column.pipeArgs }}
        </td>
        <td>
          <div class="btn-group">
            <button (click)="raiseEdit(row)" class="btn btn-info">
              <i class="fa fa-pencil" aria-hidden="true"></i> szerkeszt
            </button>
            <button (click)="raiseDelete(row)" class="btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i> töröl
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination mt-4">

    <li class="page-item">
      <button class="page-link page-arrow" (click)="jumpToPage(page-1)" [disabled]="page === 1">
        <i-feather name="arrow-left" class="table__arrow"></i-feather>
      </button>
    </li>

    <li *ngFor="let pageNum of pageList" class="page-item " [ngClass]="{'page-item active': pageNum == page}">
      <button class="page-link page-width"
        (click)="jumpToPage(pageNum)">{{ (pageNum !== 0 && pageNum !== -1) ? pageNum : '...' }}</button>
    </li>

    <li class="page-item">
      <button class="page-link page-arrow" (click)="jumpToPage(page+1)"
        [disabled]="page === pageList[pageList.length-1]">
        <i-feather name="arrow-right" class="table__arrow"></i-feather>
      </button>
    </li>
  </ul>
</nav>
